* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
#root {
  width: 1200px;
}

#slide-box {
  width: 60rem;
  border: 1px solid black;
}

.box-wrap {
  display: flex;
  width: 100rem;
  border: 1px solid rgb(255, 0, 0);
  overflow: hidden;
}

.slide {
  flex: 1;
  width: 50rem;
  border: 1px solid rgb(47, 0, 255);
}

.slide img {
  width: 100%;
}
